<h1>Burger App!</h1>

  <h2>Burgers that need to be eaten!</h2>

    <ul>
      {{#each burger}}
      {{#unless this.is_devoured}}

      <li>
        {{this.burger_name}}

        <button class="change-burger" data-id="{{this.id}}" data-newburger="{{is_devoured}}">
          Devour now!
        </button>

     </li>

      {{/unless}}
      {{/each}}
    </ul>

    <h2>Burgers that got me full! </h2>
<form id="delete-form" method="delete" action="api/burger/delete/">
    <ul id="delete-list">
      
      {{#each burger}}
      {{#if this.is_devoured}}
      <li id="dl" >
        {{this.burger_name}}
     




<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
      </li>
      {{/if}}
      {{/each}}
    </ul>
</form>
    <h2>Add a burger!</h2>

    <form id="create-form" method="POST" action="/api/burger/create">

      <div class="form-group">
        <label for="ca">Burger Name</label>
        <input type="text" id="ca" name="name">
      </div>


      <button type="submit">Add Burger!</button>
    </form>
  



