<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-burger="{{burger}}">
		{{#if sleep}}Devour!{{else}}Devour later!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
